#root{
  background-image: url("./images/appBackground/peakpx.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  
  
}

